<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC  "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.codeminions.bean.mapper.AccountMapper">
    <resultMap id="account" type="me.codeminions.bean.db.Account">
        <result column="name" property="name" />
        <result property="pwd" column="pwd" />
    </resultMap>

    <select id="getAccount" parameterType="String" resultMap="account">
        SELECT name, pwd FROM t_user WHERE name = #{name};
    </select>

    <select id="getAccountByIAP" parameterType="map" resultMap="account">
        SELECT name, pwd FROM t_user WHERE pwd = #{pwd} AND name = #{name};
    </select>

    <select id="addAccount" parameterType="me.codeminions.bean.mapper.AccountMapper">
        INSERT INTO t_user(name, pwd) VALUE(#{name}, #{pwd});
    </select>

</mapper>