<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE mapper
        PUBLIC  "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.codeminions.bean.mapper.UserAttentMapper">

    <resultMap id="userAttent" type="me.codeminions.bean.db.UserAttent">
        <id column="id" property="accountId" />
        <result column="user_id" property="user_id" />
        <result column="attent_id" property="attent_id" />
        <result column="time" property="time" />
    </resultMap>

    <select id="getUserAttent" resultMap="userAttent">
        SELECT * FROM t_user_attent ;
    </select>

</mapper>
